# Dependencies
node_modules/

# Production build outputs & installers (.exe, unpackaged binaries)
dist/

# Runtime and test logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS specific files
Thumbs.db
Desktop.ini
.DS_Store

# Temporary files
tmp/
temp/
